USE [wealthflow]
GO
/****** Object:  Table [dbo].[account]    Script Date: 8.07.2026 14:30:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[id] [uniqueidentifier] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[bank_connection_id] [uniqueidentifier] NOT NULL,
	[external_account_id] [nvarchar](255) NOT NULL,
	[display_name] [nvarchar](255) NOT NULL,
	[account_type] [varchar](20) NOT NULL,
	[iban] [nvarchar](34) NULL,
	[currency] [nvarchar](3) NOT NULL,
	[current_balance] [numeric](19, 4) NOT NULL,
	[balance_as_of] [datetimeoffset](7) NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [pk_account] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_account_external_account_id] UNIQUE NONCLUSTERED 
(
	[external_account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[alembic_version]    Script Date: 8.07.2026 14:30:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alembic_version](
	[version_num] [varchar](32) NOT NULL,
 CONSTRAINT [alembic_version_pkc] PRIMARY KEY CLUSTERED 
(
	[version_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bank_connection]    Script Date: 8.07.2026 14:30:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bank_connection](
	[id] [uniqueidentifier] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[provider] [varchar](20) NOT NULL,
	[institution_id] [nvarchar](100) NOT NULL,
	[institution_name] [nvarchar](255) NOT NULL,
	[external_reference] [nvarchar](255) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[consent_expires_at] [date] NULL,
	[last_synced_at] [datetimeoffset](7) NULL,
 CONSTRAINT [pk_bank_connection] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_bank_connection_external_reference] UNIQUE NONCLUSTERED 
(
	[external_reference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[budget]    Script Date: 8.07.2026 14:30:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[budget](
	[id] [uniqueidentifier] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[category_id] [uniqueidentifier] NULL,
	[period_month] [date] NOT NULL,
	[amount_limit] [numeric](19, 4) NOT NULL,
	[currency] [nvarchar](3) NOT NULL,
 CONSTRAINT [pk_budget] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_budget_user_category_period] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[category_id] ASC,
	[period_month] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 8.07.2026 14:30:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [uniqueidentifier] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[slug] [nvarchar](100) NOT NULL,
	[icon] [nvarchar](50) NULL,
	[is_system] [bit] NOT NULL,
	[parent_id] [uniqueidentifier] NULL,
	[user_id] [uniqueidentifier] NULL,
 CONSTRAINT [pk_category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_category_slug] UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chat_message]    Script Date: 8.07.2026 14:30:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chat_message](
	[id] [uniqueidentifier] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[conversation_id] [uniqueidentifier] NOT NULL,
	[role] [varchar](20) NOT NULL,
	[content] [varchar](max) NOT NULL,
 CONSTRAINT [pk_chat_message] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[export]    Script Date: 8.07.2026 14:30:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[export](
	[id] [uniqueidentifier] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[format] [varchar](10) NOT NULL,
	[report_type] [varchar](50) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[filename] [varchar](255) NULL,
	[file_path] [varchar](512) NULL,
	[params] [nvarchar](max) NULL,
	[error_message] [varchar](max) NULL,
 CONSTRAINT [pk_export] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[holding]    Script Date: 8.07.2026 14:30:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[holding](
	[id] [uniqueidentifier] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[account_id] [uniqueidentifier] NULL,
	[symbol] [nvarchar](20) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[asset_type] [varchar](20) NOT NULL,
	[currency] [nvarchar](3) NOT NULL,
	[quantity] [numeric](19, 8) NOT NULL,
	[cost_basis] [numeric](19, 4) NULL,
	[current_price] [numeric](19, 6) NULL,
	[as_of_date] [date] NULL,
	[notes] [nvarchar](1000) NULL,
 CONSTRAINT [pk_holding] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notification]    Script Date: 8.07.2026 14:30:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notification](
	[id] [uniqueidentifier] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[type] [varchar](50) NOT NULL,
	[title] [varchar](255) NOT NULL,
	[body] [varchar](max) NULL,
	[payload] [nvarchar](max) NULL,
	[is_read] [bit] NOT NULL,
 CONSTRAINT [pk_notification] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refresh_token]    Script Date: 8.07.2026 14:30:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refresh_token](
	[id] [uniqueidentifier] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[token_hash] [varchar](255) NOT NULL,
	[expires_at] [datetimeoffset](7) NOT NULL,
	[revoked] [bit] NOT NULL,
 CONSTRAINT [pk_refresh_token] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_refresh_token_token_hash] UNIQUE NONCLUSTERED 
(
	[token_hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transaction]    Script Date: 8.07.2026 14:30:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transaction](
	[id] [uniqueidentifier] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[account_id] [uniqueidentifier] NOT NULL,
	[category_id] [uniqueidentifier] NULL,
	[external_id] [nvarchar](255) NULL,
	[dedupe_hash] [nvarchar](64) NOT NULL,
	[amount] [numeric](19, 4) NOT NULL,
	[currency] [nvarchar](3) NOT NULL,
	[booking_date] [date] NOT NULL,
	[value_date] [date] NULL,
	[status] [varchar](20) NOT NULL,
	[description] [nvarchar](500) NOT NULL,
	[counterparty_name] [nvarchar](255) NULL,
	[category_source] [varchar](10) NULL,
	[category_confidence] [float] NULL,
	[raw_payload] [nvarchar](max) NULL,
 CONSTRAINT [pk_transaction] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_transaction_account_dedupe] UNIQUE NONCLUSTERED 
(
	[account_id] ASC,
	[dedupe_hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_account]    Script Date: 8.07.2026 14:30:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_account](
	[id] [uniqueidentifier] NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[hashed_password] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[role] [varchar](20) NOT NULL,
	[is_active] [bit] NOT NULL,
	[is_verified] [bit] NOT NULL,
 CONSTRAINT [pk_user_account] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[account] ADD  DEFAULT ('other') FOR [account_type]
GO
ALTER TABLE [dbo].[account] ADD  DEFAULT ('0') FOR [current_balance]
GO
ALTER TABLE [dbo].[account] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[bank_connection] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT ((0)) FOR [is_system]
GO
ALTER TABLE [dbo].[export] ADD  DEFAULT ('processing') FOR [status]
GO
ALTER TABLE [dbo].[holding] ADD  DEFAULT ('other') FOR [asset_type]
GO
ALTER TABLE [dbo].[notification] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[refresh_token] ADD  DEFAULT ((0)) FOR [revoked]
GO
ALTER TABLE [dbo].[transaction] ADD  DEFAULT ('booked') FOR [status]
GO
ALTER TABLE [dbo].[transaction] ADD  DEFAULT ('') FOR [description]
GO
ALTER TABLE [dbo].[user_account] ADD  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[user_account] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[user_account] ADD  DEFAULT ((0)) FOR [is_verified]
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD  CONSTRAINT [fk_account_bank_connection_id_bank_connection] FOREIGN KEY([bank_connection_id])
REFERENCES [dbo].[bank_connection] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[account] CHECK CONSTRAINT [fk_account_bank_connection_id_bank_connection]
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD  CONSTRAINT [fk_account_user_account_id_user_account] FOREIGN KEY([user_id])
REFERENCES [dbo].[user_account] ([id])
GO
ALTER TABLE [dbo].[account] CHECK CONSTRAINT [fk_account_user_account_id_user_account]
GO
ALTER TABLE [dbo].[bank_connection]  WITH CHECK ADD  CONSTRAINT [fk_bank_connection_user_account_id_user_account] FOREIGN KEY([user_id])
REFERENCES [dbo].[user_account] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[bank_connection] CHECK CONSTRAINT [fk_bank_connection_user_account_id_user_account]
GO
ALTER TABLE [dbo].[budget]  WITH CHECK ADD  CONSTRAINT [fk_budget_category_id_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[budget] CHECK CONSTRAINT [fk_budget_category_id_category]
GO
ALTER TABLE [dbo].[budget]  WITH CHECK ADD  CONSTRAINT [fk_budget_user_account_id_user_account] FOREIGN KEY([user_id])
REFERENCES [dbo].[user_account] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[budget] CHECK CONSTRAINT [fk_budget_user_account_id_user_account]
GO
ALTER TABLE [dbo].[category]  WITH CHECK ADD  CONSTRAINT [fk_category_parent_id_category] FOREIGN KEY([parent_id])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[category] CHECK CONSTRAINT [fk_category_parent_id_category]
GO
ALTER TABLE [dbo].[category]  WITH CHECK ADD  CONSTRAINT [fk_category_user_account_id_user_account] FOREIGN KEY([user_id])
REFERENCES [dbo].[user_account] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[category] CHECK CONSTRAINT [fk_category_user_account_id_user_account]
GO
ALTER TABLE [dbo].[chat_message]  WITH CHECK ADD  CONSTRAINT [fk_chat_message_user_id_user_account] FOREIGN KEY([user_id])
REFERENCES [dbo].[user_account] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[chat_message] CHECK CONSTRAINT [fk_chat_message_user_id_user_account]
GO
ALTER TABLE [dbo].[export]  WITH CHECK ADD  CONSTRAINT [fk_export_user_id_user_account] FOREIGN KEY([user_id])
REFERENCES [dbo].[user_account] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[export] CHECK CONSTRAINT [fk_export_user_id_user_account]
GO
ALTER TABLE [dbo].[holding]  WITH CHECK ADD  CONSTRAINT [fk_holding_account_id_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[holding] CHECK CONSTRAINT [fk_holding_account_id_account]
GO
ALTER TABLE [dbo].[holding]  WITH CHECK ADD  CONSTRAINT [fk_holding_user_account_id_user_account] FOREIGN KEY([user_id])
REFERENCES [dbo].[user_account] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[holding] CHECK CONSTRAINT [fk_holding_user_account_id_user_account]
GO
ALTER TABLE [dbo].[notification]  WITH CHECK ADD  CONSTRAINT [fk_notification_user_id_user_account] FOREIGN KEY([user_id])
REFERENCES [dbo].[user_account] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[notification] CHECK CONSTRAINT [fk_notification_user_id_user_account]
GO
ALTER TABLE [dbo].[refresh_token]  WITH CHECK ADD  CONSTRAINT [fk_refresh_token_user_account_id_user_account] FOREIGN KEY([user_id])
REFERENCES [dbo].[user_account] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[refresh_token] CHECK CONSTRAINT [fk_refresh_token_user_account_id_user_account]
GO
ALTER TABLE [dbo].[transaction]  WITH CHECK ADD  CONSTRAINT [fk_transaction_account_id_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[transaction] CHECK CONSTRAINT [fk_transaction_account_id_account]
GO
ALTER TABLE [dbo].[transaction]  WITH CHECK ADD  CONSTRAINT [fk_transaction_category_id_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[transaction] CHECK CONSTRAINT [fk_transaction_category_id_category]
GO
